let mapleader=" "

set commentary
set multiple-cursors
set NERDTree
set highlightedyank

set clipboard+=unnamed
set clipboard+=ideaput

set showmode
set scrolloff=5

set incsearch
set ignorecase
set smartcase

set number
set relativenumber

set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

map <C-c> <Esc>

map <TAB> :action NextTab<CR>
map <s-TAB> :action PreviousTab<CR>

""" Window keybindings
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

""" Buffer keybindings
map <leader>bd <Action>(CloseContent)
map <leader>bo <Action>(CloseAllEditorsButActive)

""" Code keybindings
map <leader>ca <Action>(CodeEditorViewGroup)
map <leader>cd <Action>(ShowErrorDescription)
map <leader>cf <Action>(ReformatCode)
map <leader>cm <Action>(Move)
map <leader>crn <Action>(RenameElement)
map <leader>crr <Action>(FindUsages)
map <leader>cs <Action>(GotoSymbol)

""" File keybindings
map <leader>fb :NERDTree<CR>
map <leader>fr <Action>(RecentFiles)
map <leader>fs <Action>(FindInPath)
map <leader>fS <Action>(IdeaVim.ReloadVimRc.reload)

""" Git
map <leader>ga <Action>(Annotate)
map <leader>gb <Action>(Git.Branches)
map <leader>gl <Action>(Vcs.Show.Log)
map <leader>gf <Action>(Vcs.UpdateProject)
map <leader>gg <Action>(Vcs.QuickListPopupAction)
map <leader>gh <Action>(Vcs.ShowTabbedFileHistory)
map <leader>gp <Action>(Vcs.Push)
map <leader>gr <Action>(Vcs.RollbackChangedLines)
map <leader>gs <Action>(Git.Commit.Stage)

""" Project
map <leader>p <Action>(ManageRecentProjects)

map <leader><Space> <Action>(GotoFile)

""" Comment
map cc <Action>(CommentByLineComment)

map gd <Action>(GotoDeclaration)

map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

map ]g <Action>(VcsShowNextChangeMarker)
map [g <Action>(VcsShowPrevChangeMarker)

map K <Action>(QuickJavaDoc)
imap <C-k> <Action>(QuickJavaDoc)

map <C-z> <Action>(ToggleDistractionFreeMode)
map <C-S-z> <Action>(ToggleZenMode)

imap <C-j> <Action>(ParameterInfo)
